<!-- link to trigger followers modal -->
<a href="" class="nostyle"data-toggle="modal" data-target="#contractsModal">
  <div class="cards-prof-bar">
    <div class="card-prof-bar">
      <i class="far fa-file-alt" style="color: red;"></i>
      <br>
      <h3 style="color: black;"><%= contract_bids.count %> Contract Bid(s)</h3>
    </div>
  </div>
</a>

<!-- Modal -->
<div class="modal fade" id="contractsModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersModalLabel">Contract Bids</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="list-style-type:none; padding-left: 0px; text-align: left;">
          <% contract_bids.each do |contract|  %>
            <br>
            <li class="d-flex justify-content-between align-items-center profile-modal-li" style= "color: black;">
              <div class="d-flex justify-content-between align-items-center">
                <%= link_to "#", class: "nostyle mr-2" do  %>
                  <img src="<%= contract.driver.photo %>" alt="" class="avatar">
                <% end %>
                <div class="d-flex flex-column">
                  <%= contract.driver.first_name %> <%= contract.driver.last_name %>
                  <div class="d-flex align-items-center" style="font-size: 10px;"><i class="fas fa-medal ml-1 mr-1"></i> 4.8 </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <% if contract.rider_denied %>
                  <div class= "btn-sm btn-light ml-2" style= "background-color: #8f0d0d; color: white; border: 1px solid #8f0d0d;"> Denied </div>
                <% else %>
                  <%= button_to "Accept", rider_accepted_contract_path(contract.driver), remote: true, method: :patch, data: {:confirm => 'Accept this contract bid?'}, class: "btn-sm btn-light ml-2", style: "color: red; border: 1px solid red;" %>
                  <%= button_to "Deny", rider_denied_contract_path(contract.driver), remote: true, method: :patch, class: "btn-sm btn-light ml-2", style: "color: red; border: 1px solid red;" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
