<!-- link to trigger followers modal -->
<a href="" class="nostyle"data-toggle="modal" data-target="#contractsModal">
  <div class="cards-prof-bar">
    <div class="card-prof-bar">
      <i class="far fa-file-alt" style="color: red;"></i>
      <br>
      <h3 style="color: black;"><%= contract_bids.count %> Contract Bid(s)</h3>
    </div>
  </div>
</a>

<!-- Modal -->
<div class="modal fade" id="contractsModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersModalLabel">Contract Bids</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="list-style-type:none; padding-left: 0px; text-align: left;">
          <% contract_bids.each do |contract|  %>
            <br>
            <li class="profile-modal-li">
              <%= link_to "#", class: "nostyle" do  %>
                <img src="<%= contract.driver.photo %>" alt="" class="avatar">
                <%= contract.driver.first_name %> <%= contract.driver.last_name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
